


a {
    color:#080808;
}
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#F2A800;
}
ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D90012;
    height: 60px;
    padding: 0 15px;

    border-bottom: 1px solid #555555;
}


.subheader {
    margin: 0;
    font-size: 14px;
}
/* MAIN LAYOUT CONTAINER */
.main {
    display: flex;
    gap: 20px;
    margin-top: 0px; /* pushes below header */
    padding: 10px;
}

.sidebar {
    width: 200px;
    padding: 15px;
    padding-top: 5px;
    background-color: darkgrey;
    border: 1px solid #080808;
    border-radius: 8px;
}

.content {
    flex: 1;
    border: 4px solid #555555;
    background-color: #0033A0;
    padding: 10px;
    color: white;
}


   .rightmenu {
    flex: 0 0 180px;
    padding-right: 10px;
    
}

.underline {
    text-decoration:underline;
}
.italic
{
    font-style: italic;
}
.footer{
    bottom: 2px;
    left :5px;
    right: 5px;
    height: 19px;
    font-size: 8px;
    color: #62a910;
    text-align: center;
    padding-top: 5px;
    position: fixed;
    }